@tailwind base;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@layer base {
  html {
    font-family: Poppins;
  }
}
@tailwind utilities;
@layer base {
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button,
        input[type='number'] {
          -webkit-appearance: none;
          margin: 0;
          -moz-appearance: textfield !important;
        }
     }

    button:hover svg path{
 transition-property: fill;
  transition-duration: 0s;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) 10s
}
button:active path{
   transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

button:hover svg path{
  fill: black !important;
}